<div id="header-component" class="container-fluid">
  <div class="row">

    <div class="col-6">
      <div class="row">

        <div>
          <label>Selecione uma classe:</label>
          <select #classtt (change)="0">
            <option value="alert alert-success">Sucesso</option>
            <option value="alert alert-primary">padrão</option>
            <option value="alert alert-danger">Erro</option>
          </select>
        </div>

        <div [ngClass]="classtt.value" role="alert">classe: {{classtt.value}}</div>

      </div>
    </div><!-- // col-6 -->

    <div class="col-6">

      <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">XxX =)</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Username" required>
          <div class="invalid-feedback" style="width: 100%;">
            Your username is required.
          </div>
        </div>
      </div>

    </div>



  </div>
</div>